*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image:linear-gradient(90deg, #070000 0%, #4c0001 50%, #070000 100%);
    background-size: cover;
    font-family: 'Rubik Dirt', cursive;
    text-align: center;
    
} 
.head{
    font-size: 4rem;
    margin-top: 10%;
    color: azure;
}
.keys {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.key {
  border: .2rem solid rgb(34, 37, 207);
  border-radius: .5rem;
  margin: 0.2rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
  margin-top: 10%;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}